/**
 * Button Styles - _button.scss
 *
 * This file defines styles for the button component,
 * including primary, secondary, and tertiary variations.
*/

@use '../abstracts/variables' as *;
@use '../base/typography' as *;

.btn {
    font-size: $text-sm;
    font-weight: bold;
    line-height: $lh-normal;
    text-align: center;
    padding: 1.1em 2.25em;
    background: transparent;
    cursor: pointer;

    &--primary {
        color: $color-on-primary;
        border-radius: 2rem;
        background: $color-primary;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 2px 25px 0 rgba($color-primary, 0.25);
        }
    }

    &--secondary {
        border: 1px solid $color-outline;
        border-radius: 2rem;
        background: $color-background;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 2px 25px 0 $color-shadow;
        }
    }

    &--tertiary {
        border-radius: 2rem;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: $color-shadow;
        }
    }

    &--with-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}
