/**
 * Gradient Blobs Styles - _gradient-blobs.scss
 *
 * This file defines the styles for gradient blob elements,
 * including variations and related styles.
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

%gradient-blob-base {
    --blob-size: 30rem;
    --blob-top: -6rem;
    --blob-left: -10rem;
    --blob-blur-amount: 100px;
    --blob-opacity: 0.4;
    --blob-color: #{$color-orange};

    position: absolute;
    top: var(--blob-top);
    left: var(--blob-left);
    z-index: -1;
    height: var(--blob-size);
    width: var(--blob-size);
    opacity: var(--blob-opacity);
    border-radius: 50%;
    pointer-events: none;
    filter: blur(var(--blob-blur-amount));
    background: radial-gradient(
        circle at center,
        var(--blob-color),
        transparent
    );
}

.gradient-blob-hero {
    @extend %gradient-blob-base;

    @include respond-to(md) {
        --blob-size: 35rem;
        --blob-top: -10rem;
        --blob-left: -10rem;
        --blob-opacity: 0.4;
    }

    @include respond-to(lg) {
        --blob-size: 50rem;
        --blob-top: -8rem;
        --blob-left: -15rem;
        --blob-opacity: 0.3;
    }
}

.gradient-blob-services {
    @extend %gradient-blob-base;

    display: none;

    --blob-left: 88%;
    --blob-color: #{$color-yellow};

    @include respond-to(md) {
        display: block;

        --blob-top: -15rem;
    }
}
