/**
 * Variables - _variables.scss
 *
 * This file defines the color scheme and breakpoints used throughout the project.
 */

/* Color Scheme */
$color-primary: #5d50c6;
$color-secondary: #f85e9f;

$color-on-primary: #fff;
$color-on-secondary: #fff;

$color-text-primary: #191825;
$color-text-secondary: rgba($color-text-primary, 0.75);
$color-text-tertiary: rgba($color-text-primary, 0.5);

$color-background: #fff;
$color-surface: #fff;
$color-outline: rgba($color-text-primary, 0.1);
$color-shadow: rgb(0 0 0 / 5%);

$color-indicator-active: $color-secondary;
$color-indicator-inactive: rgba($color-text-primary, 0.05);

$color-orange: #ff5722;
$color-yellow: #facd49;

$color-newsletter-card: rgba($color-yellow, 0.08);

$color-error: #b3261e;
$color-warning: #ffbc11;

/* Font families */
$font-primary: 'Circular Std', sans-serif;
$font-secondary: 'Inter', sans-serif;

/* Font sizes */
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.5rem;
$text-5xl: 3rem;
$text-6xl: 3.5rem;
$text-7xl: 4.5rem;

/* Line heights */
$lh-tight: 1.2;
$lh-normal: 1.6;

/* Breakpoints for media query */
$breakpoints: (
    sm: 0,
    md: 40.0625rem,
    lg: 64.025rem,
);
