%flex {
    display: flex;
}

%flex-row-center {
    @extend %flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-row-between {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
}

%flex-row-end {
    @extend %flex;
    justify-content: flex-end;
    align-items: center;
}

%flex-column-center {
    @extend %flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-column-start {
    @extend %flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
