@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../layouts/flex' as *;

.header {
    @include positioned(fixed, $z: 15);
    width: 100%;
    backdrop-filter: blur(5px);
    @include linear-gradient(
        to bottom,
        transparentize($color-background, 0.1),
        transparent
    );

    &__container {
        @extend %flex;
        align-items: center;
        width: 100%;
        transition: padding 0.3s ease-in-out;

        @include respond-to(sm) {
            padding: {
                top: 2.5rem;
                bottom: 2.5rem;
            }
        }

        @include respond-to(md) {
            padding: {
                top: 2rem;
                bottom: 2rem;
            }
        }

        @include respond-to(lg) {
            padding: {
                top: 4rem;
                bottom: 4rem;
            }
        }

        &--scrolled-up {
            padding: {
                top: 1rem;
                bottom: 1rem;
            }
        }
    }

    &__brand-container {
        flex: 1;
        @extend %flex-row-between;

        @include respond-to-range(md, lg) {
            flex-direction: row-reverse;
        }

        @include respond-to(lg) {
            flex: 0.38;
        }
    }

    &__logo {
        @include size(2.5rem);
        @include respond-to(lg) {
            margin-right: auto;
        }

        img {
            @include size(full);
            object-fit: contain;
            user-select: none;
        }
    }

    &__toggle {
        @include size(3rem);
        @include respond-to(lg) {
            display: none;
        }

        img {
            @include size(full);
            object-fit: contain;
            user-select: none;
        }
    }

    &__nav-container {
        @include respond-to(md) {
            flex: 1;
        }

        @include respond-to(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__links-container {
        display: none;

        &--open {
            display: flex;
        }

        @include respond-to-range(sm, lg) {
            @include positioned($top: 6rem);
            flex-direction: column;
            gap: 0.8rem;
            padding: 2rem;
            width: 100%;
            max-width: 250px;
            border-radius: 15px;
            background: $color-background;
            box-shadow: 0 5px 15px 0 $color-shadow;
        }

        @include respond-to-range(sm, md) {
            @include positioned($left: auto, $right: 1rem);
        }

        @include respond-to-range(md, lg) {
            @include positioned($left: 4rem, $right: auto);
        }

        @include respond-to(lg) {
            display: flex;
            gap: 4rem;
        }
    }

    &__link {
        color: $color-text-tertiary;
        font-size: 0.875rem;
        font-weight: bold;
        transition: color 0.3s ease;

        &--active {
            color: $color-text-primary;
        }

        &:hover {
            color: $color-text-primary;
        }

        @include respond-to-range(sm, md) {
            font-size: 1rem;
        }
    }

    &__actions {
        display: none;

        &--open {
            display: flex;
        }

        @include respond-to-range(sm, md) {
            @include positioned($top: 16.5rem, $right: 1rem);
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            max-width: 250px;
            padding: 2rem;
            padding: {
                top: 1rem;
            }
            border-radius: 0 0 0 15px;
            background: $color-background;
        }

        @include respond-to(md) {
            display: flex;
            justify-self: flex-end;
        }
    }
}
