/**
 * Services Styles - _services.scss
 *
 * This file defines styles for the services section,
 * including layout and responsiveness.
 */

@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.services {
    width: 100%;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        @include section-spacing;

        @include respond-to(md) {
            padding: {
                top: 32px;
                bottom: 32px;
            }
        }

        @include respond-to(lg) {
            flex-direction: row;
            padding: {
                top: 96px;
                bottom: 96px;
            }
        }
    }

    &__text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @include respond-to(md) {
            padding: 32px 0;
        }

        @include respond-to(lg) {
            align-items: flex-start;
        }
    }

    &__title {
        @include respond-to(lg) {
            text-align: start;
        }
    }

    &__cards-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

        @include respond-to(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond-to(lg) {
            grid-template-columns: repeat(2, 1fr);
            gap: 21px;

            > :last-child {
                display: none;
            }
        }
    }

    &__card {
        max-width: 40rem;
        text-align: center;
        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            outline: none;
            box-shadow: 0 40px 80px 0 $color-shadow;
        }

        &:focus {
            outline: 2px solid $color-primary;
            outline-offset: 2px;
        }

        @include respond-to(md) {
            gap: 64px;
            padding: 64px;
            padding: {
                bottom: 32px;
            }
        }

        @include respond-to(lg) {
            padding: 64px;
        }
    }

    &__card-icon {
        @include size(4rem);

        img {
            @include size(full);

            object-fit: contain;
            user-select: none;
        }
    }

    &__card-text-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 32px;

        @include respond-to(lg) {
            padding-bottom: 1.5rem;
        }
    }

    &__card-title {
        @include respond-to(md) {
            font-size: 1.75rem;
        }
    }
}
