/**
 * Typography - _typography.scss
 *
 * This file includes all typography (i.e. font styles)
 * used all over the project.
 */

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@mixin font-base {
    font-family: $font-primary;
    color: $color-text-primary;
    line-height: $lh-tight;
}

h1 {
    @include font-base;

    font-size: 2.5rem;

    @include respond-to(md) {
        font-size: $text-6xl;
    }

    @include respond-to(lg) {
        font-size: 4.3rem;
    }
}

h3 {
    @include font-base;

    font-size: 2rem;
    text-align: center;

    @include respond-to(md) {
        font-size: $text-4xl;
    }

    @include respond-to(lg) {
        font-size: 2.75rem;
    }
}

h4 {
    @include font-base;

    font-size: 2.18rem;
}

h5 {
    @include font-base;

    font-size: 1.5rem;
}

.text-nav-link {
    @include font-base;

    font-size: 1rem;
    font-weight: bold;
    line-height: $lh-tight;
    color: $color-text-tertiary;

    @include respond-to(md) {
        font-size: $text-base;
    }

    @include respond-to(lg) {
        font-size: $text-sm;
    }
}

.text-body {
    font-size: 1rem;
    font-weight: normal;
    font-family: $font-secondary;
    line-height: $lh-normal;
    color: $color-text-tertiary;

    @include respond-to(md) {
        font-size: $text-lg;
    }
}

.text-overline {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: $lh-tight;
    letter-spacing: calc(1rem * 0.2);
    color: $color-secondary;

    @include respond-to(md) {
        font-size: 1.43rem;
    }
}

.text-card-description {
    font-size: $text-lg;
    font-weight: normal;
    font-family: $font-secondary;
    line-height: $lh-normal;
    color: $color-text-tertiary;
}
