@use '../abstracts/mixins' as *;

.size-full {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    @include section-spacing();
}
