@use '../abstracts/mixins' as *;

.size-full {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    @include responsive-above(
        padding,
        $default: 0 1rem,
        $large: 0 4rem,
        $huge: 0 6rem
    );
}
